.block-professionals {
    background: #fff;
    padding: 130px 0 70px
}

@media screen and (max-width:767px) {
    .block-professionals {
        padding: 18.6666666667vw 0 16vw
    }
}

.block-professionals__title {
    margin-bottom: 80px
}

@media screen and (max-width:767px) {
    .block-professionals__title {
        margin-bottom: 10.6666666667vw
    }
}

.block-professionals .c-ttl-03__en {
    max-width: 1895px
}

@media screen and (max-width:767px) {
    .block-professionals .c-ttl-03__en {
        max-width: 100%
    }
}

.professional {
    max-width: 1320px;
    min-height: 508px;
    background: url(/assets/images/team/professionals_bg_01.png) no-repeat left top #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 100px
}

@media screen and (max-width:767px) {
    .professional {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: url(/assets/images/team/professionals_bg_01_sp.png) no-repeat left top #f2f2f2;
        margin: 0 auto 10.6666666667vw;
        background-size: 100%
    }
}

.professional__img {
    width: 530px;
    height: 508px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media screen and (max-width:1319px) {
    .professional__img {
        width: 420px
    }
}

@media screen and (max-width:767px) {
    .professional__img {
        width: 100%;
        height: 67.7333333333vw
    }
}

.professional__img img {
    width: 390px
}

@media screen and (max-width:767px) {
    .professional__img img {
        width: 89.3333333333vw;
        height: 67.7333333333vw
    }
}

.professional__info {
    width: calc(100% - 530px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 30px
}

@media screen and (max-width:1319px) {
    .professional__info {
        width: calc(100% - 420px);
        padding-left: 0
    }
}

@media screen and (max-width:767px) {
    .professional__info {
        width: 100%;
        padding: 8vw 5.3333333333vw 9.3333333333vw
    }
}

.professional__wrap {
    max-width: 660px
}

@media screen and (max-width:1319px) {
    .professional__wrap {
        max-width: calc(100% - 30px)
    }
}

@media screen and (max-width:767px) {
    .professional__wrap {
        max-width: 100%
    }
}

.professional__title {
    line-height: 1;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #b339b8;
    background-image: -webkit-linear-gradient(45deg, #b339b8, #853aba);
    background-image: linear-gradient(45deg, #b339b8, #853aba);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -moz-text-fill-color: rgba(0, 0, 0, 0)
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .professional__title {
        color: #b339b8;
        background: rgba(0, 0, 0, 0)
    }
}

@media screen and (max-width:767px) {
    .professional__title {
        margin-bottom: 2vw;
        font-size: 2.9333333333vw;
        line-height: 1.5
    }
}

.professional__title img {
    height: 14px;
    width: auto
}

@media screen and (max-width:767px) {
    .professional__title img {
        height: 2.9333333333vw
    }
}

.professional__name {
    font-size: 4rem;
    padding-bottom: 12px;
    position: relative;
    margin-bottom: 23px;
    font-weight: 300
}

@media screen and (max-width: 980px) {
    .professional__name {
        font-size: 3.3rem;
        white-space: nowrap
    }
}

@media screen and (max-width:767px) {
    .professional__name {
        font-size: 6.6666666667vw;
        padding-bottom: 4vw;
        margin-bottom: 2vw;
        line-height: 1
    }
}

.professional__name:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1px;
    background: -webkit-linear-gradient(45deg, #b339b8, #853aba);
    background: linear-gradient(45deg, #b339b8, #853aba);
    left: 0
}

@media screen and (max-width:767px) {
    .professional__name:after {
        height: .2666666667vw
    }
}

.professional__name span {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 7px
}

@media screen and (max-width: 980px) {
    .professional__name span {
        font-size: 2.1rem
    }
}

@media screen and (max-width:767px) {
    .professional__name span {
        font-size: 3.7333333333vw
    }
}

.professional__txt {
    font-size: 1.5rem;
    line-height: 1.95
}

@media screen and (max-width: 980px) {
    .professional__txt {
        font-size: 1.3rem
    }
}

@media screen and (max-width:767px) {
    .professional__txt {
        font-size: 3.4666666667vw;
        line-height: 1.85
    }
}

.professional--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background: url(/assets/images/team/professionals_bg_02.png) no-repeat right top #f2f2f2
}

@media screen and (max-width:767px) {
    .professional--reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background: url(/assets/images/team/professionals_bg_02_sp.png) no-repeat right top #f2f2f2;
        background-size: 100%
    }
}

.professional--reverse .professional__img {
    width: 500px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media screen and (max-width:1319px) {
    .professional--reverse .professional__img {
        width: 400px;
        margin-right: -50px
    }
}

@media screen and (max-width:767px) {
    .professional--reverse .professional__img {
        width: 100%;
        height: 67.7333333333vw;
        margin-right: 0
    }
}

.professional--reverse .professional__img img {
    width: 400px
}

@media screen and (max-width:767px) {
    .professional--reverse .professional__img img {
        width: 89.3333333333vw;
        height: 67.7333333333vw
    }
}

.professional--reverse .professional__img--big img {
    width: 425px
}

@media screen and (max-width:767px) {
    .professional--reverse .professional__img--big img {
        width: 89.3333333333vw;
        height: 67.7333333333vw
    }
}

.professional--reverse .professional__info {
    width: calc(100% - 550px);
    padding-left: 50px
}

@media screen and (max-width:1319px) {
    .professional--reverse .professional__info {
        width: calc(100% - 350px);
        padding-left: 30px
    }
}

@media screen and (max-width:767px) {
    .professional--reverse .professional__info {
        width: 100%;
        padding: 8vw 5.3333333333vw 9.3333333333vw
    }
}

@media screen and (max-width:1319px) {
    .professional--big .professional__img {
        width: 450px
    }
}

@media screen and (max-width:767px) {
    .professional--big .professional__img {
        width: 100%
    }
}

.professional--big .professional__img img {
    width: 425px
}

@media screen and (max-width:767px) {
    .professional--big .professional__img img {
        width: 89.3333333333vw
    }
}

@media screen and (max-width:1319px) {
    .professional--big .professional__info {
        width: calc(100% - 420px);
        margin-left: -30px
    }
}

@media screen and (max-width:767px) {
    .professional--big .professional__info {
        width: 100%;
        margin-left: 0
    }
}

@media screen and (max-width: 860px) {
    .professional--big .professional__name {
        font-size: 3rem
    }
}

@media screen and (max-width:767px) {
    .professional--big .professional__name {
        font-size: 6.6666666667vw
    }
}

@media screen and (max-width: 860px) {
    .professional--big .professional__name span {
        font-size: 2rem
    }
}

@media screen and (max-width:767px) {
    .professional--big .professional__name span {
        font-size: 3.7333333333vw
    }
}

@media screen and (max-width: 860px) {
    .professional--big .professional__txt {
        font-size: 1.3rem
    }
}

@media screen and (max-width:767px) {
    .professional--big .professional__txt {
        font-size: 3.4666666667vw
    }
}